/* global start */
@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap'); */
:root{
    --color-primary: #e7131a;
    --font-castoro: "Castoro", serif;
    /* --font-Old-Standard-TT: "Old Standard TT", serif; */
    /* --font-neuton: "Neuton", serif; */
}
.font-castoro{
    font-family: var(--font-castoro);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-castoro);
    /* --font-family: var(--font-Old-Standard-TT); */
    /* --font-family: var(--font-neuton); */
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
        color: var(--color-primary);
}
/* global end */

/* header start */
.dropdown-menu {
    border: 0;
}
.nav-item.dropdown .nav-link{
    font-weight: 600;
}
.navbar-brand{
    font-size: 4rem;
}
/* header end */