/* global start */
/* @import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

:root {
    --color-primary: #052962;
    --color-red: #C70000;
    --color-yellow: #ffe500;
    --color-content: #707070;
    /* --color-body: #fffcf8; */
    /* --font-castoro: "Castoro", serif; */
    --font-playfair-display: "Playfair Display", serif;
}

/* .font-castoro {
    font-family: var(--font-castoro);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-playfair-display);
}

p {
    color: var(--color-content);
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    /* color: var(--color-primary); */
    text-decoration: underline;
}

.color-primary {
    color: var(--color-primary);
}

.color-red {
    color: var(--color-red);
}

.background-primary {
    background-color: var(--color-primary);
}

@media only screen and (max-width: 768px) {
    .border-end {
        border-right: 0 !important;
    }
    .border-start {
        border-left: 0 !important;
    }
}

/* global end */

/* header start */
.news-carousel img {
    width: 85px !important;
    height: 85px !important;
}

.front-menu a {
    font-size: 1.8rem;
    font-family: var(--font-playfair-display);
    font-weight: 800;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid;
}

.front-menu a:hover {
    color: var(--color-yellow);
}

.front-menu a:last-child {
    border-right: 0;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 0.9rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--color-yellow);
}

.dropdown-menu .dropdown-item {
    font-size: 0.9rem;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--color-primary);
    color: var(--color-yellow);
}

@media only screen and (max-width: 768px) {
    .offcanvas.offcanvas-start {
        width: 350px;
    }

    .front-menu a {
        font-size: 1rem;
        font-weight: 600;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
    .offcanvas.offcanvas-start {
        width: 310px;
    }
}

/* header end */

/* footer start */
.footer-ul {
    list-style: none;
    padding-left: 0;
}

.footer-ul li {
    margin-bottom: 0.8rem;
}

.footer-ul li a {
    color: #fff;
}

.footer-ul li a:hover {
    text-decoration: underline;
}

.footer-name {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #212529;
}

.footer-name-div {
    margin-bottom: -20px;
}

.footer-copyright {
    font-size: small;
}

/* footer end */