/* global start */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

@font-face {
    font-family: Anada-Namaste;
    src: url("Ananda-Namaste-Regular.ttf");
}

:root {
    --color-primary: #a00;
    --color-secondary: #fc0;
    --font-Anada-Namaste: Anada-Namaste;
    --font-inter: "Inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-Anada-Namaste: Anada-Namaste;
}

body {
    font-family: var(--font-inter);
}

.color-primary {
    color: var(--color-primary);
}

.background-primary {
    background-color: var(--color-primary);
}

a {
    text-decoration: none;
}

.form-control:focus {
    box-shadow: unset;
}

.global-title h3:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #000;
    top: 50%;
    left: 0;
    left: -135px;
}

.global-title h3:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: #000;
    top: 50%;
    right: -135px;
}

/* global end */

/* header start */
.topbar a {
    color: #fff;
}

.topbar a:hover {
    color: var(--color-secondary);
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--color-secondary);
}

.logobar h3 {
    font-family: var(--font-Anada-Namaste);
}

.dropdown-menu li a:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* header end */

/* footer start */
.footer-fluid1 {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.footer-ul {
    list-style: none;
    padding-left: 0;
}

.footer-ul li {
    margin-bottom: 10px;
}

.footer-ul li a {
    color: #000;
}

.footer-ul li a:hover {
    color: var(--color-primary);
}

.footer-fluid2 a {
    color: var(--color-secondary);
}

.footer-fluid2 a:hover {
    text-decoration: underline;
}

/* footer end */

/* section holder start */
.section-holder {
    background-color: #282828;
    color: #fff;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.holder-div h6 {
    font-size: 17px;
}

.holder-div p {
    font-size: 14px;
}

/* section holder end */

/* product start */
.second-image {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card-product:hover .second-image {
    opacity: 1;
}

.card-product a{
    color: #000;
}
.card-product a:hover{
    color: var(--color-primary);
}
/* product end */

/* instagram start */
.instagram-div:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00000066;
}
.instagram-div i{
    position: absolute;
    left: 50%;
    top: 50%;
}
/* instagram end */