/* global start */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
    --color-green: #015A2C;
    --color-orange: #FF6F33;
    --color-purple: #A3228D;
    --color-blue: #004C8D;
    --color-brown: #92665E;
    --color-yellow: #FECF07;
    --color-content: #404A3D;
    --color-skyblue: #4DCAC8;
    --font-dm-sans: "DM Sans", sans-serif;
    --font-handlee: "Handlee", cursive;
}

body {
    background-color: #F8F7F0;
    font-family: var(--font-dm-sans);
}

.color-orange {
    color: var(--color-orange);
}

.color-purple {
    color: var(--color-purple);
}

.color-blue {
    color: var(--color-blue);
}

.color-brown {
    color: var(--color-brown);
}

.color-green {
    color: var(--color-green);
}

.color-skyblue {
    color: var(--color-skyblue);
}

.color-yellow {
    color: var(--color-yellow);
}

.color-content {
    color: var(--color-content);
}

.background-orange {
    background-color: var(--color-orange);
}

.background-yellow {
    background-color: var(--color-yellow);
}

.background-purple {
    background-color: var(--color-purple);
}

a {
    text-decoration: none;
}

.fs-heading {
    font-size: 3.4rem;
}

.font-handlee {
    font-family: var(--font-handlee);
}

.rotate-hover svg {
    transition: transform 0.5s ease;
}

.rotate-hover:hover svg {
    transform: rotate(360deg);
}

@media only screen and (max-width: 768px) {
    .fs-heading {
        font-size: 2rem;
    }
}



/* global end */
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1264px;
    }
}

.btn-shine {
    position: relative;
}

.btn-shine:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 80px;
    height: 100%;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, .3) 50%, transparent 100%);
    opacity: 1;
    transition: opacity 0.3s ease;
    animation: shine 2s linear infinite;
    transform: skewX(30deg);
}

@keyframes shine {
    0% {
        left: -5%;
    }

    100% {
        left: 60%;
    }
}

/* addon start */

/* addon end */

/* header start */
header {
    position: absolute;
    top: 0;
    width: 100%;
}

header:before {
    content: '';
    position: absolute;
    width: 175px;
    height: 130px;
    background-color: #f8f7f0;
    right: 0;
    border-bottom-left-radius: 40px;
}

/* .border1 {
    position: absolute;
    right: 12.65%;
    top: 9%;
    width: 30px;
    height: 30px;
    background-color: #f8f7f0;
    border-top-right-radius: 25px;
}
.border1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: yellow;
    border-top-right-radius: 25px;
} */
.navbar-brand img {
    width: 140px;
}

.navbar-nav .nav-item .nav-link {
    color: var(--color-green);
    font-weight: 600;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--color-orange);
}

header a:hover {
    color: #fff;
}

.fixed-top {
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(60 66 76 / 30%);
    padding-top: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.fixed-top .navbar-brand img {
    width: 110px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.fixed-top a:hover {
    color: var(--color-orange);
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .offcanvas.offcanvas-start {
        width: 350px;
    }

    header {
        position: relative;
    }

    .navbar-brand img {
        width: 100px;
    }

    .offcanvas-header {
        background-color: var(--color-yellow);
    }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
    .offcanvas.offcanvas-start {
        width: 310px;
    }
}

/* header end */

/* footer start */
.footer-fluid0 ul {
    display: ruby;
    padding-left: 0;
}

.footer-fluid0 ul li:first-child::marker {
    content: "";
}

.footer-fluid0 ul li {
    margin-left: 1rem;
}

.footer-fluid0 a {
    color: #fff;
}

.footer-fluid0 a:hover {
    color: #f9ff00;
}

.footer-fluid1 {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.footer-ul {
    list-style: none;
    padding-left: 0;
}

.footer-ul li {
    margin-bottom: 10px;
}

.footer-ul li a {
    color: var(--color-content);
    font-weight: 500;
}

.footer-ul li a:hover {
    color: var(--color-skyblue);
}

.copyright a {
    font-weight: 500;
}

.copyright a:hover {
    color: var(--color-orange);
}

@media only screen and (max-width: 768px) {
    .footer-fluid0 ul li {
        margin-left: 0.3rem;
    }

    .footer-fluid0 span {
        display: block;
    }

    .footer-fluid0 ul {
        font-size: 0.9rem;
    }
}

/* footer end */

/* section2 start */
.section2-box {
    padding: 2rem 1rem;
    height: 100%;
    border-radius: 2rem;
}

.section2-button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.section2-shape1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65px;
    height: 65px;
    background-color: #F8F7F0;
    border-top-left-radius: 32px;
}

/* .section2-shape2 {
    position: absolute;
    right: 0;
    bottom: 65px;
    width: 25px;
    height: 25px;
    background: black;
    border-bottom-right-radius: 11px;
} */

/* section2 end */

/* marquee start */
marquee div {
    display: inline;
    color: var(--color-blue);
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 1px var(--color-blue);
    font-weight: 800;
}

marquee div svg {
    margin-left: 25px;
    margin-right: 20px;
}

/* marquee end */

/* section3 start */
.section3 {
    background-image: url('../img/section3.png');
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .section3 {
        background-image: none;
    }

    /* .section3:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000005c;
    top: 0;
} */
}

/* section3 end */

/* instagram start */
.insta-a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000038;
    opacity: 0;
    border-radius: 0.5rem;
}

.insta-a:hover:before {
    opacity: 1;
}

.insta-a:hover .insta-icon {
    display: block;
}

.insta-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* instagram end */

/* home products start */
.home-products {
    background: linear-gradient(45deg, #FECF07, #FF6F33);
}

.hp-button {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hp-shape1 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65px;
    height: 65px;
    background-color: #feb613;
    border-top-left-radius: 32px;
}

/* home products end */

.banner-box {
    background-image: url(../img/home-banner.webp);
}

/* testimonial start */
.testimonial-div .comma {
    position: absolute;
    top: 0;
    right: 0;
}

.testimonial-shape1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 65px;
    background-color: #F8F7F0;
    border-bottom-left-radius: 2rem;
}

.comma {
    width: 54px !important;
}

/* testimonial end */


/* middle card start */
.circle {
    position: absolute;
    left: -13px;
    top: -25px;
    animation: spin 6s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.middlecard-right:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: var(--color-yellow);
    left: -30px;
    top: 0;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

@media only screen and (max-width: 768px) {
    .middlecard-right:before {
        display: none;
    }

    .middlecard-left {
        height: 300px;
        border-radius: 2rem;
    }
}

/* middle card end */

.history-heading1 {
    -webkit-text-stroke: 1px var(--color-orange);
}

.history-heading2 {
    -webkit-text-stroke: 1px var(--color-purple);
}

.history-heading3 {
    -webkit-text-stroke: 1px var(--color-yellow);
}

.history-heading4 {
    -webkit-text-stroke: 1px var(--color-blue);
}

.history-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #b6b6b6;
    top: 38%;
}

.history-heading{
    color: transparent;
}

@media only screen and (min-width: 768px) {
    .container-history {
        max-width: 97%;
    }
}

@media only screen and (max-width: 768px) {
    .history-line {
        display: none;
    }
    .h-dot{
        display: inline;
        margin-left: 5px;
    }
    .history-heading{
        display: inline;
    }
}