/* global start */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap');
:root {
    --color-green: #015A2C;
    --color-orange: #FF6F33;
    --color-purple: #A3228D;
    --color-blue: #004C8D;
    --color-brown: #92665E;
    --color-yellow: #FECF07;
    --color-content: #404A3D;
    --font-dm-sans: "DM Sans", sans-serif;
}
body{
    background-color: #F8F7F0;
    font-family: var(--font-dm-sans);
}
.color-orange {
    color: var(--color-orange);
}

.color-purple {
    color: var(--color-purple);
}

.color-blue {
    color: var(--color-blue);
}

.color-brown {
    color: var(--color-brown);
}

.color-green{
    color: var(--color-green);
}

.color-content {
    color: var(--color-content);
}

.background-orange {
    background-color: var(--color-orange);
}

a{
    text-decoration: none;
}

/* global end */

/* header start */
header{
    position: absolute;
    top: 0;
    width: 100%;
}
header:before {
    content: '';
    position: absolute;
    width: 190px;
    height: 130px;
    background-color: #f8f7f0;
    right: 0;
    border-bottom-left-radius: 40px;
}
/* .border1 {
    position: absolute;
    right: 12.65%;
    top: 9%;
    width: 30px;
    height: 30px;
    background-color: #f8f7f0;
    border-top-right-radius: 25px;
}
.border1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: yellow;
    border-top-right-radius: 25px;
} */
.navbar-brand img{
    width: 150px;
}
.navbar-nav .nav-item .nav-link{
    color: var(--color-green);
    font-weight: 600;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.navbar-nav .nav-item .nav-link:hover{
    color: var(--color-orange);
}
header a:hover{
    color: #fff;
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .offcanvas.offcanvas-start {
        width: 350px;
    }
    header{
        position: relative;
    }
    .navbar-brand img {
        width: 100px;
    }
    .offcanvas-header{
        background-color: var(--color-yellow);
    }
}

@media only screen and (min-width: 350px) and (max-width: 400px) {
    .offcanvas.offcanvas-start {
        width: 310px;
    }
}
/* header end */

/* footer start */
.footer-fluid0 ul {
    display: ruby;
}
.footer-fluid0 ul li:first-child::marker {
    content: "";
  }
  .footer-fluid0 ul li{
    margin-left: 1rem;
  }
.footer-fluid0 a{
    color: #fff;
}
.footer-fluid1{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.footer-ul {
    list-style: none;
    padding-left: 0;
}

.footer-ul li {
    margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    .footer-fluid0 ul li{
        margin-left: 0.3rem;
      }
      .footer-fluid0 span{
        display: block;
      }
}
/* footer end */

/* section2 start */
.section2-box{
    padding: 2rem 1rem;
    height: 100%;
    border-radius: 2rem;
}
/* section2 end */

/* marquee start */
marquee div{
    display: inline;
    color: var(--color-blue);
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 1px var(--color-blue);
    font-weight: 800;
}
marquee div svg{
    margin-left: 25px;
    margin-right: 20px;
}
/* marquee end */