/* global start */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    --color-primary: #0046e6;
    --color-secondary: #ffd514;
    --font-pt-sans: "PT Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-pt-sans);
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.background-secondary {
    background-color: var(--color-secondary);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.font-pt-sans {
    font-family: var(--font-pt-sans);
}

.border-bottom-last:last-child{
    border-bottom: 0 !important;
}

/* global end */

/* header start */
.navbar-brand {
    font-size: 3rem;
    font-weight: 800;
    font-family: serif;
}

.navbar-brand:hover {
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link {
    color: #000;
    font-family: var(--font-pt-sans);
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 2rem;
    }
    .offcanvas.offcanvas-start{
        width: 350px;
    }
}
@media only screen and (max-width: 400px) {
    .offcanvas.offcanvas-start{
        width: 310px;
    }
}

/* header end */

/* footer start */
.footer-ul{
    list-style: none;
    padding-left: 0;
}
.footer-ul li{
    margin-bottom: 0.5rem;
}
.footer-ul li a{
    color: #fff;
    font-family: var(--font-pt-sans);
}
/* footer end */

/* news start */
.news-category a {
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 500;
}

/* news end */