/* global start */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
:root{
    --color-primary: #ffc700;
    --color-footer: #cfcfcf;
    --font-Urbanist: "Urbanist", sans-serif;
}
body{
    font-family: var(--font-Urbanist);
}
a{
    text-decoration: none;
    color: var(--color-primary);
}
a:hover{
    text-decoration: underline;
}
.color-primary{
    color: var(--color-primary);
}
.background-primary{
    background-color: var(--color-primary);
}
/* global end */

/* addons start */

/* addons end */

/* header start */
.navbar-nav .nav-item .nav-link{
    font-weight: 600;
    font-size: 1.1rem;
    color: #000;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.navbar-nav .nav-item .nav-link:hover{
    color: var(--color-primary);
    text-decoration: none;
}
/* header end */

/* footer start */
footer{
    color: #ababab;
}
.footer-ul{
    list-style: none;
    padding-left: 0;
}
.footer-ul li{
    margin-bottom: 10px;
}
.footer-ul li a{
    color: #ababab;
}
.footer-ul li a:hover{
    color: var(--color-primary);
    text-decoration: none;
}
/* footer end */

/* hero start */
.hero-swiper{
    width: 100%;
    height: 400px;
}
.hero-carousel{
    position: absolute;
    top: 0%;
}
.hero-carousel h3{
    font-size: 3rem;
}
.hero-box{
    margin-top: -211px;
    position: relative;
    z-index: 1;
}
/* hero end */

/* home about start */
.home-about h3{
    font-size: 3.4rem;
}
/* home about end */