/* global start */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
:root {
    --color-primary: #ff0000;
    --font-marcellus: "Marcellus", serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-marcellus);
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: var(--color-primary);
}

.form-control:focus {
    box-shadow: unset;
}

.color-primary {
    color: var(--color-primary);
}

.background-primary {
    background-color: var(--color-primary);
}

/* @media only screen and (max-width: 768px){ */
/* @media only screen and (min-width: 768.1px) and (max-width: 992px){ */
/* @media only screen and (min-width: 350px) and (max-width: 400px) { */

/* global end */

/* header start */
.navbar-nav .nav-item .nav-link {
    color: #000;
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--color-primary);
}

/* header end */

/* margin padding start */

.border-bottom-last:last-child {
    border-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
    .border-start {
        border-left: 0 !important;
    }
}

/* margin padding end */