/* global start */

/* @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap'); */

:root {
    --color-primary: #002aff;
    /* --color-secondary: #fdf4f3; */
    /* --color-tertiary: #ffffff; */
    /* --font-lora: 'Lora', serif; */
    /* --font-roboto: "Roboto", sans-serif; */
    /* --font-pt-sans: "PT Sans", sans-serif;  */
    /* Heading - The Europe Time */
}
a {
    text-decoration: none;
    color: #1e1e1e;
    /* color: #000; */
}
a:hover{
    color: var(--color-primary);
    /* text-decoration: underline; */
}
.form-control:focus {
    box-shadow: unset;
}
.color-primary {
    color: var(--color-primary);
}
.background-primary{
    background-color: var(--color-primary);
}

/* global end */

/* header start */
.navbar-brand{
    font-size: 3rem;
    font-weight: 800;
}
.navbar-nav .nav-item .nav-link{
    color: #000;
    font-weight: 500;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}
.navbar-nav .nav-item .nav-link:hover{
    color: var(--color-primary);
}
.dropdown-menu .dropdown-item{
    color: #000;
    font-weight: 500;
}
.dropdown-menu .dropdown-item:hover{
    background: transparent;
    color: var(--color-primary);
}
.navbar-nav .nav-item:not(:first-child):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #000;
    top: 50%;
    transform: translateY(-50%);
}
.dropdown-menu[data-bs-popper]{
    margin-top: 8px;
    border-radius: 0;
    border-top: 3px solid var(--color-primary);
}

/* header end */