/* global start */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap');

:root {
    --color-primary: #002aff;
    --color-secondary: #faf7f5;
    --font-garamond: "EB Garamond", serif;
}

a {
    text-decoration: none;
    color: #1e1e1e;
    /* color: #000; */
}

a:hover {
    /* color: var(--color-primary); */
    text-decoration: underline;
}

.form-control:focus {
    box-shadow: unset;
}

.color-primary {
    color: var(--color-primary);
}

.background-primary {
    background-color: var(--color-primary);
}

.background-secondary {
    background-color: var(--color-secondary);
}

.font-garamond {
    font-family: var(--font-garamond);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-garamond);
}

.global-title:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    left: 0;
    bottom: -2px;
    background-color: var(--color-primary);
}

/* global end */

/* header start */
.navbar-brand {
    font-size: 3.4rem;
    font-weight: 800;
}

.navbar-nav .nav-item .nav-link {
    color: #000;
    font-weight: 500;
}

.side-menu .nav-item .nav-link {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu .nav-item .nav-link {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--color-primary);
    text-decoration: none;
}

.dropdown-menu .dropdown-item {
    color: #000;
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: var(--color-primary);
    text-decoration: none;
}

.main-menu .nav-item:not(:first-child):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 16px;
    border-left: 1px dashed #000;
    top: 50%;
    transform: translateY(-50%);
}

.side-menu .nav-item:not(:last-child):after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px dashed #000;
}

.dropdown-menu {
    margin-top: 8px !important;
    border-radius: 0;
    border-top: 3px solid var(--color-primary);
}

.navbar-dark .navbar-toggler {
    background-color: #000;
    border: none;
    /* Remove default border */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 0;
    /* Ensures proper centering */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-dark .navbar-toggler:hover {
    opacity: 0.85;
}

@media (min-width: 992px) {
    .main-menu .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        font-size: 1.8rem;
    }

    .offcanvas {
        width: 350px !important;
    }

    .main-menu .nav-item:not(:first-child):before {
        display: none;
    }

    .navbar-dark .navbar-toggler {
        width: 40px;
        height: 40px;
        padding: 10px;
    }
}
@media only screen and (min-width: 350px) and (max-width: 400px) {
    .offcanvas {
        width: 310px !important;
    }
}

/* header end */

/* footer start */
.footer-ul {
    list-style: none;
    padding-left: 0;
}

.footer-ul li {
    margin-bottom: 10px;
}

.footer-ul li a {
    font-family: var(--font-garamond);
}

/* footer end */

/* news start */
.border-bottom-dashed {
    border-bottom: 1px dashed #000;
}

.border-bottom-last:last-child {
    border-bottom: 0 !important;
}

.border-end-dashed {
    border-right: 1px dashed #000;
}

.border-end-last:last-child {
    border-right: 0 !important;
}

.heading-style {
    background: #fff;
    margin-top: -38px;
    position: relative;
    margin-right: 10%;
    padding-top: 12px;
}

.category-style a {
    text-transform: uppercase;
    color: var(--color-primary);
    font-size: 0.9rem;
    font-weight: 500;
}

.card-carousel .owl-nav {
  position: absolute;
  right: 0;
  bottom: 0;
}
.card-carousel .owl-nav button {
  border-radius: 50% !important;
  border: 1px solid #000 !important;
  padding: 4px 11px !important;
  width: 30px;
  height: 30px;
  font-size: 19px !important;
  margin: 0 5px !important;
}
.card-carousel .owl-nav button:hover {
  background-color: #000 !important;
}

/* .padding-first-last{
    padding-top: 1rem;
    padding-bottom: 1rem;
} */
.padding-first-last:first-child{
    padding-top: 0 !important;
}
.padding-first-last:last-child{
    padding-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
    .border-end-dashed {
        border-right: 0;
    }
}

/* news end */