/* global start */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

:root {
    --color-primary: #ffc700;
    --color-secondary: #602118;
    --color-tertiary: #b96938;
    --color-footer: #cfcfcf;
    --font-league-spartan: "League Spartan", serif;
    --font-roboto: "Roboto", sans-serif;
}

body {
    font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-league-spartan);
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    text-decoration: underline;
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-footer {
    color: var(--color-footer);
}

.background-primary {
    background-color: var(--color-primary);
}

.background-secondary {
    background-color: var(--color-secondary);
}

.background-tertiary {
    background-color: var(--color-tertiary);
}

.form-control:focus {
    box-shadow: unset;
}

.btn-global {
    background-color: var(--color-secondary);
    color: #fff;
    border: var(--color-secondary);
}

.btn-global:hover {
    background-color: var(--color-tertiary);
    color: #fff;
    border: var(--color-tertiary);
}

.fs-3rem {
    font-size: 3rem;
}

.sd-border-color{
    border-color: var(--color-tertiary) !important;
}

.background-size-cover{
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .fs-3rem {
        font-size: calc(2.375rem + 1.5vw);
    }
}

/* global end */

/* header start */
.navbar-brand img {
    width: 225px;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 600;
    font-size: 1.1rem;
    color: #000;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--color-tertiary);
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: var(--color-secondary);
    color: #fff;
    text-decoration: none;
}

@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .offcanvas.offcanvas-start {
        width: 350px;
    }
}

@media only screen and (max-width: 400px) {
    .offcanvas.offcanvas-start {
        width: 310px;
    }
}

/* header end */

/* footer start */
footer {
    color: #ababab;
}

.footer-ul {
    list-style: none;
    padding-left: 0;
}

.footer-ul li {
    margin-bottom: 10px;
}

.footer-ul li a {
    color: #ababab;
}

.footer-ul li a:hover {
    color: var(--color-primary);
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .copyright {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 400px) {
    .copyright {
        font-size: 0.65rem;
    }
}

/* footer end */

/* hero start */
.hero-img {
    height: 22rem;
    object-fit: cover;
    filter: brightness(0.5);
}

.hero-caption {
    top: 44%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
    .hero-img {
        height: 25rem;
    }

    .hero-caption {
        top: 37%;
        left: 8%;
        right: 8%;
    }
}

/* hero end */

/* box info start */
.box-div:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000086;
    top: 0;
    z-index: 0;
}

.box-info {
    background-color: #602118de;
}

/* box info end */

.pulses-png {
    width: 200px;
}

.oils-png {
    width: 160px;
    z-index: 0;
    filter: opacity(0.2);
}

.menthol-png {
    z-index: -1;
    filter: opacity(0.2);
}

.perfume-png {
    width: 350px;
    z-index: 0;
    filter: opacity(0.2);
}

@media only screen and (max-width: 768px) {
    .pulses-png {
        width: 110px;
    }

    .menthol-png {
        width: 220px;
    }

    .oils-png {
        top: -20px;
    }

    .perfume-png {
        width: 250px;
    }
}

/* contact page start */
.contact-map {
    height: 500px;
}

.contact-box {
    margin-top: -10%;
}

/* contact page end */

/* inner-banner start */
.inner-banner:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #00000065;
}
/* inner-banner end */